asttokens==2.0.5
autopep8==1.5.5
backcall==0.2.0
cached-property==1.5.2
certifi==2021.5.30
cycler==0.11.0
dataclasses==0.8
debugpy==1.5.1
decorator==5.1.1
entrypoints==0.4
executing==0.8.3
fonttools==4.27.1
h5py==3.1.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
jupyter-client==7.1.2
jupyter-core==4.9.2
kiwisolver==1.3.1
matplotlib==3.3.4
matplotlib-inline==0.1.3
nest-asyncio==1.5.5
numpy==1.19.5
packaging==21.3
pandas==1.1.5
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.29
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.6.0
Pygments==2.12.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
pyzmq==23.1.0
-e git+ssh://git@github.com/fzenke/randman.git@f06dafe7be7955651f81449adb8f4d7118be8e3b#egg=randman
scipy==1.5.4
seaborn==0.11.2
six==1.16.0
stack-data==0.3.0
toml==0.10.2
torch==1.10.2
tornado==6.1
traitlets==4.3.3
typing_extensions==4.1.1
wcwidth==0.2.5
