numpy
torch
scipy
matplotlib      # plotting
seaborn         # plotting
h5py            # Data file format
jupyter         # notebook support
soundfile       
tables
torchvision
tonic
git+https://github.com/fzenke/randman
